* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#MainDiv {
    max-width: 1400px;
    width: 100%;
    height: 674px;
    background-image: url("./Images/image.svg");
    color: white;
    font-size: 44px;
    margin: 0 auto;
    margin-top: 156px;
}

#bgImage {
    width: 1200px;
    margin: 0 auto;
}

#Conteiner {
    width: 1137px;
    height: 350px;
    padding: 40px 32px;
    border-radius: 24px;
    margin: 0 auto;
    margin-top: 115px;
    background: #EBF8FE;
}

#TitleDiv {
    text-align: center;
}

#Title {
    font-size: 64px;
    margin: 0 auto;
}

#Paragraph {
    color: #535862;
    font-size: 32px;
    font-weight: 400;
    margin: 24px 0;
    text-align: left;
}

#EmailDiv {
    max-width: 521px;
    width: 100%;
    height: 77px;
    margin: 0 auto;
}

#TEXTT {
    width: 345px;
    height: 48px;
    padding: 12px 14px;
    border: 1px solid #D5D7DA;
    border-radius: 8px;
    background: #FFF;
    display: inline-block;
}

#SubscribeButton {
    width: 119px;
    height: 48px;
    padding: 12px 18px;
    border: 2px solid #FFF;
    border-radius: 8px;
    bottom: none;
    background: #007CB8;
    color: #FFF;
    margin-left: 24px;
}

#CareParagraph {
    margin-top: 8px;
    width: 345px;
    color: #535862;
}

#Underline {
    border-bottom: 1px solid #535862;

}


#LastDiv {
    max-width: 546px;
    width: 100%;
    padding: 40px 32px;
    border-radius: 24px;
    background: #EBF8FE;
    margin: 0 auto;
    margin-top: 72px;
    margin-bottom: 99px;
}

#TextName {
    display: block;
    width: 482px;
    height: 48px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #380054;
    background: #EBF8FE;
    margin-bottom: 24px;
}

#EmailText {
    display: block;
    width: 482px;
    height: 48px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #380054;
    background: #EBF8FE;
    margin-bottom: 24px;
}

#Submit {
    color: #181D27;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

#YesDiv {
    vertical-align: middle;
    margin-top: 7px;
    color: #6D5F8B;
}

#Yex-Div {
    vertical-align: middle;
    margin-top: 7px;
    color: #6D5F8B;
    margin-bottom: 24px;
}

#CheckBoxs {
    margin-bottom: 7px  ;
}
#CheckBoxDiv {
    vertical-align: middle;
    margin-top: 7px;
    color: #6D5F8B;
}